<% if users.any? %>
  <div class="row">
    <% users.each do |user| %>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="user-card mb-5 text-center">
          <div class="mt-3">
            <a href="#">
              <% if user.image? %>
                <p>
                  <%= image_tag user.image.url, class: 'user-picture' %>
                </p>
              <% else %>
                <p>
                  <i class="user-image fas fa-user-circle"></i>
                </p>
              <% end %>
              <p><%= link_to user.name, user_path(user), class: "user-text mb-0" %></p>
            </a>
          </div>
          <div class="mt-1">
            <p><%= link_to 'フォロー', user_path(user), class: 'btn btn-primary follow-text'%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-4 offset-4">
    <p class="paginate"><%= paginate users %></p>
  </div>
<% end %>