<aside>
  <div class="row my-user-wapper">
    <div class="my-user-image col-md-5">
      <i class="my-user-phote fas fa-user-circle"></i>
    </div>
    <div class="my-user-name col-md-5 offset-md-2">
      <p class="my-user-text mb-0"><%= @user.name %></p>
    </div>
  </div>
</aside>
<div>
  <ul class="nav nav-tabs nav-justified mt-3">
    <li class="nav-item"><a href="#" class="nav-link nav-text">投稿</a></li>
    <li class="nav-item"><a href="#" class="nav-link nav-text">フォロー</a></li>
    <li class="nav-item"><a href="#" class="nav-link nav-text">フォロワー</a></li>
    <li class="nav-item"><a href="#" class="nav-link nav-text">いいね</a></li>
  </ul>
</div>
