<div class="current-wrapper">
  <% posts.each do |post| %>
    <div class="post-image">
      <div class="inner">
        <%= image_tag post.image.url if post.image? %>
      </div>
    </div>
  <% end %>
</div>