<div class="current-wrapper">
  <% posts.each do |post| %>
    <div class="post-image">
      <div class="inner">
        <% if post.image? %>
          <a href="/posts/<%= post.id %>">
            <div class="image-wrapper">
              <%= image_tag post.image.url %>
            </div>
              <%= render "/evaluations/evaluation_posts_list", post: post %>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>