<div>
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="row">
      <div class="col-sm-6 offset-sm-1">
        <div class="field">
          <%= f.label :image %>
          <%= f.file_field :image %>
        </div>
      </div>
      <div >
        
      </div>
      <div></div>
    </div>
  <% end %>
</div>




<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
