<style>

 .container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 90vh;
 }
 .wrapper {
   width: 50vh;
   height: 50vh;
   background-image: url(https://pbs.twimg.com/profile_images/450867264506445825/wjPUhU9c_400x400.jpeg);
 }
 .content {
   width: 100%;
   height: 100%;
   padding: 2rem;
 }
 .content--hover {
   display: none;
 }
 .wrapper:hover > .content {
   display: none;
 }
 .wrapper:hover > .content--hover {
   display: inherit;
   background-color: red;
   opacity: 0.7;
 }
 
/* .fa{*/
/*  font-size:30px;*/
/*}*/
#rating{
  font-size:0;
  width:140px;
}
</style>

<script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.raty.js"></script>
    <script>
    var score = $('#star1').raty('score');
      $(function(){
        $('#star1').raty();
      });
    </script>
  
  
    <p id="star1"></p>
  





<div class="container">
  <div class="wrapper">
    <div class="content">hover前だよ</div>
    <div class="content content--hover">hoverだよ</div>
  </div>
</div>