// 全体の設定
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
}
a {
    color: #333;
}
a:hover,a:focus {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}
// ナビゲーションバー "layouts/_navbar"
.search-link {
  color: rgba(0,0,0,.5);
  // text-decoration: none;
}
.top-title {
  color: #ffa500;
}

// トップページtoppages/index
.wrapper {
  text-align: center;
  margin: 100px 0 150px;
}
@media (max-width: 500px) {
  /* ウインドウ幅500px以上の時に適用されるスタイル */
  .wrapper {
  text-align: center;
  margin: 50px 0 50px;
  }
  .text-br::before{
	content: "\A" ;
	white-space: pre ;
  }
}
.title {
  margin-bottom: 30px;
}
.wrapper p {
  // margin-bottom: 5px;
}
.signup-button {
  margin: 30px 0 30px;
}
.signup-button a {
  padding: 10px 30px 10px;
  border: 1px solid #00bfff;
  border-radius: 15px;
  color: #00bfff;
}
.signup-button a:hover {
  background-color: #00bfff;
  color: #fff;
}

// users(/users)
.user-text {
  font-size: 1.5rem;
}
.follow-text {
  font-size: 1.2rem;
}
.user-card {
  text-align: center;
}
.user-image {
  font-size: 7.5em;
}