// 全体の設定
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
}
a {
    color: #333;
}
a:hover,a:focus {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

// ナビゲーションバー "layouts/_navbar"
.search-link {
  color: rgba(0,0,0,.5);
  // text-decoration: none;
}
.top-title {
  color: #ffa500;
}

// トップページtoppages/index
.wrapper {
  text-align: center;
  margin: 100px 0 150px;
}
@media (max-width: 500px) {
  /* ウインドウ幅500px以上の時に適用されるスタイル */
  .wrapper {
  text-align: center;
  margin: 50px 0 50px;
  }
  .text-br::before{
	content: "\A" ;
	white-space: pre ;
  }
}
.title {
  margin-bottom: 30px;
}
.wrapper p {
  // margin-bottom: 5px;
}
.button {
  margin: 30px 0 30px;
}
.button a {
  padding: 10px 30px 10px;
  border: 1px solid #000;
  border-radius: 15px;
}
.toppage-button a {
  border: 1px solid #00bfff;
  color: #00bfff;
}
.toppage-button a:hover {
  background-color: #00bfff;
  color: #fff;
}

// users#index (/users)
.user-text {
  font-size: 1.5rem;
}
.follow-text {
  font-size: 1.2rem;
}
.user-image {
  height: 128px;
  width: 128px;
}
.paginate {
  margin: 0 auto;
}
.user-picture {
  object-fit: cover;
  height: 128px;
  width: 128px;
  border-radius: 50%;
}

// users#show (users/:id)
.my-user-image {
  text-align: right;
}
.my-user-photo {
  font-size: 10rem;
}
.photo-right {
  text-align: left;
  height: 160px;
}
.my-user-text {
  font-size: 1.75rem;
}
@media (max-width: 767px) {
  .my-user-image {
  text-align: center;
  }
  .photo-right {
  text-align: center;
  height: 42px;
  }
  .my-user-text {
    padding: 10px 0;
  }
}
@media (min-width: 768px) {
  .my-user-text {
    line-height: 160px;
  }
}
.my-user-picture{
  object-fit: cover;
  height: 155px;
  width: 155px;
  border-radius: 50%;
}


// ナビゲーション
.nav-text {
  padding: 8px 0;
}

// users#new (/signup)
.signup-form {
  // margin-top: 10px;
  margin: 0 auto;
}
.signup-right {
  text-align: left;
  height: 160px;
}
.photo-button {
  margin: 0;
}
.photo-button a {
  border: 1px solid #ffa500;
  color: #ffa500;
  line-height: 160px;
}
.photo-button a:hover {
  background-color: #ffa500;
  color: #fff;
}
.signup-button {
  border: 1px solid #ffa500;
  color: #ffa500;
  background-color: #fff;
}
.signup-button:hover {
  border: 1px solid #ffa500;
  background-color: #ffa500;
  color: #fff;
}
@media (max-width: 767px) {
  .signup-form {
  margin-top: 0;
  }
  .signup-right {
  text-align: center;
  height: 75px;
  }
  .photo-button a{
    line-height: 75px;
  }
}
.form-group {
  text-align: center;
}
.sign-user-image {
  display: inline-block;
  width: 200px;
}
.sign-user-picture {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.sign-user-name {
  display: inline-block;
  width: 200px;
}
.picture-form {
  display: none;
}

// users#
